<div id="top-search">
    <nav class="navbar navbar-busca no-mar-bot" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="javascript:void(0)">Busca Refinada</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-2">  
                <form id="search" class="form panel-busca hidden" action="[baseUri]/index/buscaavancada/" method="post">
                    <div class="pull-left">
                        <div class="input-group" id="form-busca">
                            <select name="finalidade" id="finalidade" class="sel-custom form-control">
                                <option value="0">Transação...</option>
                                <option value="1">Venda</option>
                                <option value="2">Locação</option>
                                <option value="4">Temporada</option>
                            </select>
                            <select name="tipo" id="tipo" class="sel-custom form-control">
                                <option value="0">Tipo...</option>
                                <!--{loop:tpb}-->
                                <!--{ <option value="tpb.tipo_id" name="tpb.tipo_url">tpb.tipo_title</option>}-->
                                <!--{end:tpb}-->    
                            </select>
                            <select name="cidade" id="cidade" class="sel-custom form-control">
                                <option value="0">Cidade...</option>
                                <!--{loop:catb}-->
                                <!--{ <option value="catb.categoria_id" name="catb.categoria_url">catb.categoria_title</option>}-->
                                <!--{end:catb}-->    
                            </select>
                            <select name="bairro" id="bairro" class="sel-custom form-control" disabled>
                                <option value="0">Bairro...</option>
                            </select>

                            <select name="dorms" id="dorms" class="sel-custom form-control">
                                <option value="0">Quartos...</option>
                                <option value="0">Indiferente</option>
                                <option value="1">1 Dorms</option>
                                <option value="2">2 Dorms</option>
                                <option value="3">3 Dorms</option>
                                <option value="4">4 Dorms</option>
                                <option value="5">5 ou mais</option>
                            </select>

                            <select name="valormax" id="valormax" class="sel-custom form-control valor_venda">
                                <option value="0">Preço...</option>
                                <option value="0">Indiferente</option>
                                <option value="40000">até 40.000</option>
                                <option value="50000">até 50.000</option>
                                <option value="60000">até 60.000</option>
                                <option value="70000">até 70.000</option>
                                <option value="80000">até 80.000</option>
                                <option value="90000">até 90.000</option>
                                <option value="100000">até 100.000</option>
                                <option value="150000">até 150.000</option>
                                <option value="200000">até 200.000</option>
                                <option value="300000">até 300.000</option>
                                <option value="400000">até 400.000</option>
                                <option value="500000">até 500.000</option>
                                <option value="1000000">até 1 milhão </option>
                                <option value="2000000">até 2 milhões</option>
                                <option value="5000000">até 5 milhões</option>
                            </select>

                            <select name="valormax" id="valormax" class="sel-custom form-control valor_locacao">
                                <option value="0">Preço...</option>
                                <option value="0">Indiferente</option>
                                <option value="5000">até 500</option>
                                <option value="1000">até 1.000</option>
                                <option value="2000">até 2.000</option>
                                <option value="50000">até 5.000</option>
                                <option value="80000">até 8.000</option>
                                <option value="100000">até 10.000</option>
                            </select>

                            <span class="input-group-btn pull-left">
                                <button class="btn btn-default" type="button" id="btn-busca">
                                    <b> <i class="glyphicon glyphicon-search"></i> Pesquisar</b>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div> 