<!DOCTYPE html>
<html>
    <head>
        <title>[config_site_title]- O QUE HÁ DE NOVO?</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />     
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta http-equiv="Cache-control" content="public" />
        <link rel="canonical" href="[baseUri]/pagina/sobre/" />      
        <link href="js/jquery/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="css/public/main.css" rel="stylesheet" />           
    </head>
    <body>
        <?php include 'header.html'; ?>
        <div class="container">               
            <div class="box-detail">
                <h3>O QUE MUDOU?</h3>
                
                <strong>No Site</strong>
                <ul>
                    <li>Os links (quem somos, contato e etc...) agora abrem em nova página</li>
                    <li>O Slideshow mudou</li>
                    <li>Incluso o campo bairro na busca avançada</li>
                    <li>Inclusos novos links no menu</li>
                    <li>Inclusa marca d'água nas fotos</li>
                    <li>A página de detalhes possui mais fotos por vez e estão maiores</li>
                </ul>
                 <strong>No Admin</strong>
                <ul>
                    <li>Exclusão em massa de imóveis, cidades e bairros</li>
                    <li>Incluso o campo valor de diária para temporada</li>
                    <li>Ao cadastrar ou atualizar um imóvel são gravadas suas coordenadas para o mapa</li>
                </ul>
                 
                <h3>O QUE HÁ DE NOVO?</h3>
                
                <strong>No Site</strong>
                <ul>
                    <li>Mapa com todos os imóveis cadastrados. <a href="[baseUri]/mapa/" target="_blank">Veja aqui </a></li>
                    <li>Lista de imóveis parecidos (parecidos com o que está sendo visualizado).  
                        <a href="[baseUri]/imovel/suzano/jardim-imperador/2/" target="_blank">Veja aqui (no fim da página)</a> 
                    </li>
                    <li>Layout responsivo (do front, se ajusta ao tablet, smartphone e pc)</li>
                    <li>Facebook (fanpage) no rodapé</li>
                    <li>Facilidade de criar novas páginas no menu a partir de um modelo pronto</li>
                    <li>Os destaques agora são ordenados e não mais os últimos cadastrados</li>
                </ul>
                
                 <strong>No Admin</strong>
                <ul>
                    <li>Inclusa a busca detalhada</li>
                    <li>Impressão da lista de imóveis </li>
                    <li>Ordenar posição dos imóveis em destaque</li>
                </ul>                
                 
                 

            </div>
        </div>
        <div class="pushfooter"></div>
        <script src="js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/jquery/bootstrap/bootstrap.min.js"></script>
        <script src="js/public/main.js" type="text/javascript"></script>
        <script src="js/public/atd.js" type="text/javascript"></script>          	
        <?php include 'footer.html'; ?>
    </body>
</html>