<!DOCTYPE html>
<html>
    <head>
        <title>[config_site_title]</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />     
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta http-equiv="Cache-control" content="public" />
        <link rel="canonical" href="[baseUri]/pagina/sobre/" />      
        <link href="js/jquery/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="css/public/main.css" rel="stylesheet" />           
    </head>
    <body>
        <?php include 'header.html'; ?>
        <?php include 'form_busca.html'; ?>
        <div class="container">               
            <div class="box-detail">
                <h3>PÁGINA MODELO</h3>
                <p class="font-20">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
                    takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum dolor sit amet.                    
                </p>
                <p class="font-20">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
                    takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <p class="font-20">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
                    takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
            </div>
        </div>
        <div class="pushfooter"></div>
        <script src="js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/jquery/bootstrap/bootstrap.min.js"></script>
        <script src="js/public/main.js" type="text/javascript"></script>
        <script src="js/public/atd.js" type="text/javascript"></script>          	
        <?php include 'footer.html'; ?>
    </body>
</html>