<script type="text/javascript" src="js/jquery/tradutor.js"></script>
<style>
    #google_translate_element, .goog-te-banner-frame, .goog-te-balloon-frame, #goog-gt-tt, .goog-te-balloon-frame, .goog-tooltip, .goog-tooltip:hover { display:none !important; }
    html, body { top: 0 !important; }
    font { background: transparent !important; color: inherit !important; font: inherit !important; }
    font:hover, .goog-text-highlight:hover, .goog-text-highlight { -webkit-box-shadow: inherit !important; -moz-box-shadow: inherit !important; box-shadow: inherit !important; box-sizing: inherit !important; -webkit-box-sizing: inherit !important; -moz-box-sizing: inherit !important; }
    .topo-box-bandeira{display:inline-block; margin-top:10px;}
</style>    
<div id="google_translate_element"></div> 
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>					
<div class="topo-box-idioma">
    
    <div class="topo-box-bandeira">
        <a href="javascript:void(0)" class="pt" onclick="ChangeLang('pt')" title="Traduzir para portugu&ecirc;s"><img src="images/flags/portugues.gif" border="0" alt="Portugues" /></a>
    </div>
    <div class="topo-box-bandeira">
        <a href="javascript:void(0)" class="en" onclick="ChangeLang('en')" title="Translate to English"><img src="images/flags/english.gif" border="0" alt="English" /></a>
    </div>
    <div class="topo-box-bandeira">
        <a href="javascript:void(0)" class="es" onclick="ChangeLang('es')" title="Traducir al espa&ntilde;ol"><img src="images/flags/espanol.gif" border="0" alt="Spanish" /></a>
    </div>
    <div class="topo-box-bandeira">
        <a href="javascript:void(0)" class="it" onclick="ChangeLang('it')" title="Traduci in italiano"><img src="images/flags/italiano.png" border="0" alt="Italian" /></a>
    </div>
    <div class="topo-box-bandeira">
        <a href="javascript:void(0)" class="de" onclick="ChangeLang('de')" title="&Uuml;bersetzen in Deutsch"><img src="images/flags/alemao.png" border="0" alt="Deutsch" /></a>
    </div>
    <div class="topo-box-bandeira">
        <a href="javascript:void(0)" class="fr" onclick="ChangeLang('fr')" title="Traduire en fran&ccedil;ais"><img src="images/flags/frances.png" border="0" alt="French" /></a>
    </div>
    <p>Traduzir</p>
</div>